.Icon-container{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    font-size: 24px;
    font-weight: bold;
  }
  
  
  .Icon-container-check:hover .Icon-svg{
    fill: green;
  }
  

  .Icon-container-delete:hover .Icon-svg{
    fill: red;
  }

  .Icon-svg{
    width: 24px;
    height: 24px;
  }