*{
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;  

}

.toDo__MainContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;


}

.toDo_Title{
  padding-bottom: 30px;
  text-align: center;
}

.toDo__card{
  -webkit-box-shadow: 7px 6px 34px -10px rgba(0,0,0,0.3);
  -moz-box-shadow: 7px 6px 34px -10px rgba(0,0,0,0.3);
  box-shadow: 7px 6px 34px -10px rgba(0,0,0,0.3);

  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 70%; /* Asegúrate de que el contenedor ocupe todo el ancho disponible */
  
  justify-content: center;
  

}

